.carrinho {
    width: 315px;
    height: 100%;

    position: absolute;
    top: -100vh;
    right: 0;

    margin-bottom: 5rem;

    z-index: -100;
    
    transition: .25s;

    overflow: scroll;
}

.carrinho--ativo {
    z-index: 100;
    
    margin-bottom: 0;

    transition: .25s;

    position: fixed;
    top: 0;
}

.carrinho__background--fixed {
    position: fixed;

    opacity: 30%;
}

.carrinho__header {
    display: inline-flex;
    align-items: center;

    padding-bottom: 2rem;
}

.carrinho__produtos {
    display: flex;
    flex-direction: column;

    padding-bottom: 2rem;
}

.carrinho__produtos--item {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 1.5rem;

    margin-bottom: 1.5rem;

    border-bottom: 1px solid var(--preto-transparente);

    width: 100%;

    box-sizing: border-box;

    font-size: var(--tamanho-corpo);
    font-weight: var(--peso-carrinho);
}

.carrinho__produtos--imagem {
    width: 52px;
    height: 52px;
    object-fit: cover;
}

.carrinho__produtos--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    color: var(--preto);

    margin-bottom: 1rem;
}

.carrinho__produtos--valor {
    display: flex;
    flex-direction: row;
    
    color: var(--cinza);
}

.carrinho__produtos--quantidade {
    display: flex;
    flex-direction: row;

    position: absolute;
    right: 1.375rem;
}

.quantidade--resumo {
    right: 2.375rem;
}

.carrinho__produtos--quantidade img {
    margin-left: .5rem;
}

.carrinho__tabela {
    margin-bottom: 2rem;

    width: 100%;

    display: flex;
    flex-direction: row;

    font-size: var(--tamanho-corpo);
    font-weight: var(--peso-carrinho);
    color: var(--cinza);
}

.carrinho__tabela p {
    margin-bottom: 1.375rem;
}

.tabela__info {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tabela__valor {
    width: 30%;

    display: flex;
    flex-direction: column;
    
    text-align: end;
}

.info__subtotal {
    color: var(--preto);
}

.body--fade {
    opacity: .7;
}
